{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page %}



<body class="p-4 ">


    <form class="form-control w-full max-w-xs space-y-4" hx-post="/u">


        <div>
            <label class="label">
                What should your account be called?
            </label>
            <input type="text" placeholder="Username" class="input input-bordered w-full max-w-xs" />
        </div>





        <button class="btn btn-primary">Save profile</button>
    </form>


</body>
{% endblock %}