<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error 500!</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
          name="viewport">
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Oops!</h1>
<p>Sorry, but something went wrong.</p>
<p>{}</p>
<h2>If the issue persists, please let us know!</h2>
<a class="btn  btn-primary" href="https://t.me/+TEHh5GvOX6iYehnh" role="button">Contact us!</a>
<input action="action" type="button" class="btn  btn-secondary" value="Back" onclick="window.history.go(-1); return false;" />

</body>
</html>