{% extends "layout.html" %}
{% block title %}Article {{article_title}}{% endblock %}
{% block body %}


<header class="sticky flex flex-row bg-base-100 top-0 p-2 gap-4 items-center">





    <h2 class="font-semibold overflow-ellipsis">{{article_title}}</h2>
</header>
{% endblock %}

{% block main %}
<iframe class="rounded-lg w-full"
    srcdoc="<link rel='stylesheet' type='text/css' href='/styles.css'><div class='bg-base-100'>{{article_content}}</div>"></iframe>
<!--TODO change url to be own, not relative-->

</iframe>


<section class="p-2 mt-10 w-full space-y-2  rounded-lg border select-bordered">


    <a href="{{author_link}}" role="button" class="flex flex-row w-full flinch gap-2 label-text">
        <img src="{{author_avatar}}" class="rounded-lg bg-cover" width="50" height="50" />
        <div>
            <b class="text-lg block">{{author_name}}</b>
            <span class=" text-primary">Published</span><span> {{publish_date}}</span>
        </div>
    </a>


    {% if author_id == user_id %}
    <button class="share-button btn btn-square btn-primary" type="button" title="Share this article">

        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M5 19V5H12V12H19V13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.1 3.89 21 5 21H13.35C13.13 20.37 13 19.7 13 19H5M14 4.5L19.5 10H14V4.5M23 18V20H20V23H18V20H15V18H18V15H20V18H23Z" />
        </svg>
    </button>
    {% else %}
    <button class="share-button btn btn-square btn-primary" type="button" title="Share this article">

        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
        </svg>
        </svg>
    </button>
    {% endif %}


    <button class="share-button btn btn-square btn-primary" type="button" title="Share this article">

        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" />
        </svg>
        </svg>
    </button>
    <script>
        const shareButton = document.querySelector('.share-button');
        shareButton.addEventListener('click', event => {
            if (navigator.share) {
                navigator.share({
                    title: '{{article_title}}',
                    url: window.location.href

                }).then(() => {
                    console.log('Thanks for sharing!');
                })
                    .catch(console.error);
            } else {
                // fallback
            }
        });

    </script>

</section>












{% endblock %}