{% extends "layout.html" %}
{% block title %}Chats{% endblock %}



    {% block header %}

    <!-- bg-secondary -->

    <header class="sticky bg-base-100 top-0 ">

        <div class="tabs tabs-boxed" role="tablist">
            <a href="/chat" class="tab-active tab" role="tab" aria-selected="true"
                    aria-controls="tab-content">Contacts
            </a>
            <a href="/chat/en" class="tab" role="tab" aria-selected="false" aria-controls="tab-content">Region
            </a>
            <a href="/chat/team" class="tab" role="tab" aria-selected="false" aria-controls="tab-content">Team
            </a>
        </div>

    </header>
    {% endblock %}

    {% block main %}





        {% for chat in chats %}


        <!-- if no avatar, then initials and rounded-lg -->


        <a class="p-2 flex flinch  w-full no-underline text-current gap-2 label-text" href="/chat/user/{{chat.id }}"
           oncontextmenu="return false">
            <img alt="Article Image" class="rounded-lg" height="56" loading="lazy" onError="replaceImg(this);"
                 src="{{chat.user_avatar }}" width="56"/>
            <!-- style="aspect-ratio: 100 / 100; object-fit: cover;" -->
            <div>
                <b class="text-lg block transition-all duration-3000 font-bold tracking-tight"
                   id="chat_user_name">{{chat.user_name }}</b>
                <span class="text-primary block">{{chat.message_preview }}</span>
                {{chat.sent_date}}
            </div>
        </a>


        {% endfor %}


        <a class="p-2 flex flinch  w-full no-underline text-current gap-2 label-text" href="/chat/user/1"
           oncontextmenu="return false">

            <!-- style="aspect-ratio: 100 / 100; object-fit: cover;" -->
            <div class="avatar online">
                <div class="w-24 rounded-lg">
                    <img alt="Article Image" class="rounded-lg" height="56" loading="lazy"
                         onError="replaceImg(this);"
                         src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                         width="56"/>
                </div>
            </div>
            <div>
                <b class="text-lg block transition-all duration-3000 font-bold tracking-tight">Johnny
                    Doe</b>
                <span class="text-primary block">Can we order pizza? ...</span>
                23.11.2020, 04:26
            </div>
        </a>





{% endblock %}

