{% extends "layout.html" %}
{% block title %}Region Chat{% endblock %}

{% block header %}
<header class="sticky bg-base-100 top-0 ">

    <div class="tabs tabs-boxed" role="tablist">
        <a href="/chat" class="tab" role="tab" aria-selected="false" aria-controls="tab-content">Contacts
        </a>
        <a href="/chat/en" class="tab-active tab" role="tab" aria-selected="true"
           aria-controls="tab-content">Region
        </a>

        <a href="/chat/team" class="tab" role="tab" aria-selected="false" aria-controls="tab-content">Team
        </a>
    </div>

</header>
{% endblock %}

{% block main %}

REGION


{% endblock %}

