{% extends "layout.html" %}
{% block title %}Team Chat{% endblock %}



    {% block header %}

    <!-- bg-secondary -->

    <header class="sticky bg-base-100 top-0 ">

        <div class="tabs tabs-boxed" role="tablist">
            <a href="/chat" class="tab" role="tab" aria-selected="false" aria-controls="tab-content">Contacts
            </a>


            <a href="/chat/en" class="tab" role="tab" aria-selected="false" aria-controls="tab-content">Region
            </a>

            <a href="/chat/team" class="tab-active tab" role="tab" aria-selected="true"
               aria-controls="tab-content">Team
            </a>
        </div>

    </header>
    {% endblock %}

    {% block main %}





        <a class="p-2 flex flinch  w-full no-underline text-current gap-2 label-text" href="/chat/user/1"
           oncontextmenu="return false">

            <!-- style="aspect-ratio: 100 / 100; object-fit: cover;" -->
            <div class="avatar online">
                <div class="w-24 rounded-lg">
                    <img alt="Article Image" class="rounded-lg" height="56" loading="lazy"
                         onError="replaceImg(this);"
                         src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                         width="56"/>
                </div>
            </div>
            <div>
                <b class="text-lg block transition-all duration-3000 font-bold tracking-tight">Johnny
                    Doe</b>
                <span class="text-primary block">Can we order pizza? ...</span>
                23.11.2020, 04:26
            </div>
        </a>

        <div class="flex flex-col m-2">
            <div class="chat chat-start m-2">
                <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS chat bubble component"
                             class="w-10"
                             src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                    </div>
                </div>
                <div class="chat-header">
                    Obi-Wan Kenobi
                </div>
                <div class="chat-bubble">You were the Chosen One!</div>
                <div class="chat-footer opacity-50">
                    <time class="text-xs opacity-50">12:45</time>
                </div>
            </div>
            <div class="chat chat-end">
                <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS chat bubble component"
                             class="w-10"
                             src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                    </div>
                </div>

                <div class="chat-bubble chat-bubble-primary">I hate you!</div>
                <div class="chat-footer opacity-50">
                    <time class="text-xs opacity-50">12:46</time>
                </div>
            </div>

            <div hx-ext="ws" ws-connect="/chatroom">
                <div id="notifications"></div>
                <div id="chat_room">
                    ...
                </div>
                <form id="form" ws-send>
                    <input name="chat_message">
                </form>
            </div>
        </div>

    </div>


    {% endblock %}

</div>