<!doctype html>
<html data-theme="dark" lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
          name="viewport">

    <meta content="#317EFB" name="theme-color"/>
    <link href="/dist/styles.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="dist/Kiona-Regular.ttf">

    <style>
        @font-face {
            src: url(dist/Kiona-Regular.ttf) format("truetype");
        }
    </style>
    <link href="/dist/manifest.webmanifest" rel="manifest">
    <link rel="icon" type="image/x-icon" href="/dist/favicon.ico"/>

   <!-- <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/maxeckel/alpine-editor@0.3.1/dist/alpine-editor.min.js"></script> -->

    <script type="text/javascript" src="/dist/app.js"></script>


    <script crossorigin="anonymous"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer-time.min.js"></script>

    <script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>


<!-- <script>document.addEventListener('contextmenu', event => event.preventDefault());</script> -->



    <!-- <script >
if ("serviceWorker" in navigator) {
navigator.serviceWorker.register("./sw.js");
}


</script> -->


    <title>{% block title %}{% endblock %} | PsyOps: Command & Control</title>
</head>

{% block page %}{% endblock %}


<!--  <script src="https://unpkg.com/htmx.org/ext/debug.js"></script> -->


</html>