{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block main %}


<div class="stats bg-primary text-primary-content">


    <div class="w-full stat ">
        <div class="stat-title">Current balance</div>
        <div class="stat-value">$89,400</div>
        <div class="stat-actions">

            <button class="btn btn-sm btn-success">Add funds</button>
            <button class="btn btn-sm">Withdraw</button>
        </div>
    </div>

</div>

<a href="/auth/logout">Logout</a>


<a class="btn  btn-primary" href="/about" role="button">About</a>

<a class="btn  btn-secondary" href="/map" role="button">Map</a>


<svg fill="none" height="64" viewBox="0 0 64 64" width="64">
    <path d="M32,32 C38.4,32 40,34.4 40,38 C40,41.6 38.4,44 32,44 C25.6,44 24,41.6 24,38 C24,34.4 25.6,32 32,32 Z"
          stroke="#228B22" stroke-width="2"/>

    <path d="M24,24 C30.4,24 32,26.4 32,30 C32,33.6 30.4,36 24,36 C17.6,36 16,33.6 16,30 C16,26.4 17.6,24 24,24 Z"
          stroke="#000" stroke-width="2"/>

    <path d="M28,28 C30,28 31,26.4 31,24 C31,21.6 30,20 28,20 C26,20 25,21.6 25,24 C25,26.4 26,28 28,28 Z"
          stroke="#EE82EE" stroke-width="2"/>
</svg>


<svg fill="none" height="64" viewBox="0 0 64 64" width="64">
    <path d="M18,16 C22.4,16 24,18.4 24,22" fill="#333" stroke="#000" stroke-width="2"/>
    <path d="M24,22 C24,25.6 22.4,28 18,28" fill="#999" stroke="#000" stroke-width="2"/>
    <path d="M18,28 C13.6,28 12,25.6 12,22" fill="#F44336" stroke="#000" stroke-width="2"/>

    <path d="M34,24 C38.4,24 40,26.4 40,30" fill="#FF9800" stroke="#000" stroke-width="2"/>
    <path d="M40,30 C40,33.6 38.4,36 34,36" fill="#228B22" stroke="#000" stroke-width="2"/>
    <path d="M34,36 C29.6,36 28,33.6 28,30" fill="#66BB6A" stroke="#000" stroke-width="2"/>

    <path d="M50,28 C54.4,28 56,30.4 56,34" fill="#9C27B0" stroke="#000" stroke-width="2"/>
    <path d="M56,34 C56,37.6 54.4,40 50,40" fill="#F44336" stroke="#000" stroke-width="2"/>
    <path d="M50,40 C45.6,40 44,37.6 44,34" fill="#5F9EA0" stroke="#000" stroke-width="2"/>
</svg>


<a class="btn  btn-primary" href="/welcome/signup" role="button">Welcome</a>

<a class="flex items-center gap-2" href="/chat">
    <svg class="h-8 w-8 text-gray-500 dark:text-gray-400" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
         stroke-width="2" viewBox="0 0 24 24" width="24"
         xmlns="http://www.w3.org/2000/svg">
        <rect height="16" rx="2" width="20" x="2" y="4"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
    </svg>
    <span class="text-lg font-semibold">Inbox</span>
</a>
{% endblock %}