{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block main %}



<div class="stats bg-primary text-primary-content">


    <div class="w-full stat ">
        <div class="stat-title">Current balance</div>
        <div class="stat-value">$89,400</div>
        <div class="stat-actions">

            <button class="btn btn-sm btn-success">Add funds</button>
            <button class="btn btn-sm">Withdraw</button>
        </div>
    </div>

</div>

<a href="/logout">Logout</a>


<a class="btn  btn-primary" href="/about" role="button">About</a>

<a class="btn  btn-secondary" href="/map" role="button">Map</a>


<a class="btn  btn-primary" href="/welcome/signup" role="button">Welcome</a>

<a class="flex items-center gap-2" href="chat">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="h-8 w-8 text-gray-500 dark:text-gray-400">
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
    </svg>
    <span class="text-lg font-semibold">Inbox</span>
</a>
{% endblock %}