{% extends "base.html" %}
{% block page %}

<!-- FIXME: wtf is going on with bottom padding?? :( -->

<body class=" m-0 p-0 flex flex-col h-[100dvh] w-full">

{% block body %}{% endblock %}

{% block header %}{% endblock %}

<main class=" flex-1 overflow-y-auto pb-16  w-full  " hx-ext="multi-swap loading-states disable-element">

    {% block main %}{% endblock %}

</main>

<!--<footer>
<hr class="divide-gray-200">

class="transition-opacity ease-in fade_in duration-500  "
-->
<footer>
    <nav class="btm-nav  btm-nav-md ">

        <a class="flinch" href="/">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M6,16.5L3,19.44V11H6M11,14.66L9.43,13.32L8,14.64V7H11M16,13L13,16V3H16M18.81,12.81L17,11H22V16L20.21,14.21L13,21.36L9.53,18.34L5.75,22H3L9.47,15.66L13,18.64"/>
            </svg>
            <span class="btm-nav-label">Work</span>
        </a>
        <a class="flinch " href="/article">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M3,6V22H21V24H3A2,2 0 0,1 1,22V6H3M16,9H21.5L16,3.5V9M7,2H17L23,8V18A2,2 0 0,1 21,20H7C5.89,20 5,19.1 5,18V4A2,2 0 0,1 7,2M7,4V18H21V11H14V4H7Z"/>
            </svg>
            <span class="btm-nav-label">News</span>
        </a>
        <a class="flinch " href="/training">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path d="M27 28V17.52a2.003 2.003 0 0 0-.853-1.639L17 9.48V8h6V2h-8v7.48l-9.147 6.402A2.002 2.002 0 0 0 5 17.52V28H2v2h28v-2ZM17 4h4v2h-4ZM7 17.52l9-6.3l9 6.3V28h-8v-8h-2v8H7Z"/>
            </svg>
            <span class="btm-nav-label">Military</span>
        </a>
        <a class="flinch " href="/production">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 6.2C10 4.3 8.8 2.6 7 2V5.7H4V2C2.2 2.6 1 4.3 1 6.2C1 8.1 2.2 9.8 4 10.4V21.4C4 21.8 4.2 22 4.5 22H6.5C6.8 22 7 21.8 7 21.5V10.5C8.8 9.9 10 8.2 10 6.2M16 8C16 8 15.9 8 16 8C12.1 8.1 9 11.2 9 15C9 18.9 12.1 22 16 22S23 18.9 23 15 19.9 8 16 8M16 20C13.2 20 11 17.8 11 15S13.2 10 16 10 21 12.2 21 15 18.8 20 16 20M15 11V16L18.6 18.2L19.4 17L16.5 15.3V11H15Z"/>
            </svg>
            <span class="btm-nav-label">Production</span>
        </a>
        <a class="flinch " href="/user">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6A3,3 0 0,0 5,9A3,3 0 0,0 8,12A3,3 0 0,0 11,9A3,3 0 0,0 8,6Z"/>
            </svg>
            <span class="btm-nav-label">Profile</span>
        </a>
    </nav>
</footer>
</body>


<!--ripple-bg-gray-300-->
{% endblock %}