{% extends "layout.html" %}
{% block title %}User Profile{% endblock %}
{% block main %}


<!-- todo: show how many resources are currently lost/earned -->
<header class="sticky top-0 bg-base-100 p-2">

    <a href="/market"
       class="rounded-lg border select-bordered text-card-foreground shadow-sm shadow-violet-500 grid grid-cols-3 gap-4 p-2 ">


        <div class="flex flex-row  items-center gap-2">
            <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
            <h4 class="font-semibold text-md text-red-400">-1200</h4>
        </div>
        <div class="flex flex-row items-center gap-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="text-red-400 w-5 h-5"
            >
                <path d="M4 9a2 2 0 0 1-2-2V5h6v2a2 2 0 0 1-2 2Z"></path>
                <path d="M3 5V3"></path>
                <path d="M7 5V3"></path>
                <path d="M19 15V6.5a3.5 3.5 0 0 0-7 0v11a3.5 3.5 0 0 1-7 0V9"></path>
                <path d="M17 21v-2"></path>
                <path d="M21 21v-2"></path>
                <path d="M22 19h-6v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2Z"></path>
            </svg>
            <h4 class="font-semibold text-md text-red-400">-1200</h4>
        </div>
        <div class="flex flex-row  items-center gap-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="text-red-400 w-5 h-5"
            >
                <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                <path d="M11 9h4a2 2 0 0 0 2-2V3"></path>
                <circle cx="9" cy="9" r="2"></circle>
                <path d="M7 21v-4a2 2 0 0 1 2-2h4"></path>
                <circle cx="15" cy="15" r="2"></circle>
            </svg>
            <h4 class="font-semibold text-md text-red-400">-1200</h4>
        </div>
        <div class="flex flex-row items-center gap-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="text-green-400 w-5 h-5"
            >
                <path d="M12 20.94c1.5 0 2.75 1.06 4 1.06 3 0 6-8 6-12.22A4.91 4.91 0 0 0 17 5c-2.22 0-4 1.44-5 2-1-.56-2.78-2-5-2a4.9 4.9 0 0 0-5 4.78C2 14 5 22 8 22c1.25 0 2.5-1.06 4-1.06Z"></path>
                <path d="M10 2c1 .5 2 2 2 5"></path>
            </svg>
            <h4 class="font-semibold text-md text-green-400">+1200</h4>
        </div>
        <div class="flex flex-row items-center gap-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="text-green-400 w-5 h-5"
            >
                <path d="M18 12.5V10a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path>
                <path d="M14 11V9a2 2 0 1 0-4 0v2"></path>
                <path d="M10 10.5V5a2 2 0 1 0-4 0v9"></path>
                <path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"></path>
            </svg>
            <h4 class="font-semibold text-md text-green-400">+1200</h4></div>
        <div class="flex flex-row items-center gap-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="text-green-400 w-5 h-5"
            >
                <path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.9-.7-1.7-1.5-1.9C18.7 10.6 16 10 16 10s-1.3-1.4-2.2-2.3c-.5-.4-1.1-.7-1.8-.7H5c-.6 0-1.1.4-1.4.9l-1.4 2.9A3.7 3.7 0 0 0 2 12v4c0 .6.4 1 1 1h2"></path>
                <circle cx="7" cy="17" r="2"></circle>
                <path d="M9 17h6"></path>
                <circle cx="17" cy="17" r="2"></circle>
            </svg>
            <h4 class="font-semibold text-md text-green-400">+1200</h4>
        </div>

    </a>
</header>

<!--
<div class="p-6 card ">

    <img
            src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png"
            alt="item image"
            height="100"
            width="100"
            class="  opacity-100 mb-3 z-0 translate-x-2"
            style="aspect-ratio: 100 / 100; object-fit: cover;"
    />


    <div class=" z-10 flex items-center justify-between">
        <h3 class="font-medium">Assault Rifle</h3>
        20.000 WarehouseIcon
    </div>

    <div class="w-full bg-gray-700 rounded-full  h-4 mb-3">
        <div class="h-full bg-green-500 rounded-full" style="width: 80%;">
            <p class="text-xs text-white text-center">16 mins</p>
        </div>
    </div>


    <div class="flex justify-between hover:bg-gray-100 p-2 rounded-md">


        <div class="flex flex-col space-y-2 mt-2">
            <div class="flex items-center space-x-2">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-4 w-4"
                >
                    <path d="M18 12.5V10a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path>
                    <path d="M14 11V9a2 2 0 1 0-4 0v2"></path>
                    <path d="M10 10.5V5a2 2 0 1 0-4 0v9"></path>
                    <path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"></path>
                </svg>
                <p>10</p>
            </div>
            <div class="flex items-center space-x-2">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="h-4 w-4"
                >
                    <path d="M10 10v.2A3 3 0 0 1 8.9 16v0H5v0h0a3 3 0 0 1-1-5.8V10a3 3 0 0 1 6 0Z"></path>
                    <path d="M7 16v6"></path>
                    <path d="M13 19v3"></path>
                    <path d="M12 19h8.3a1 1 0 0 0 .7-1.7L18 14h.3a1 1 0 0 0 .7-1.7L16 9h.2a1 1 0 0 0 .8-1.7L13 3l-1.4 1.5"></path>
                </svg>
                <p>5</p>
            </div>
        </div>

        <div class="flex items-center space-x-2">
            <button class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3">
                -
            </button>
            <p>2</p>
            <button class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3">
                +
            </button>
        </div>

    </div>
</div>
-->

<div class="m-2 p-2 rounded-lg space-y-4  bg-gradient-to-r from-transparent to-black">

    <div class="flex flex-row items-center justify-between">
        <img src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png"
             alt="BannerImage"
             class="   h-1/3 w-1/3"/>

        <div class="flex w-full flex-col content-between">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost">✕</button>
            </form>

            <div class="flex  items-center gap-2">

                <p class="font">50.000</p>

                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
                </svg>

            </div>
        </div>
    </div>


    <div class="flex  justify-between items-center gap-4 w-full">

        <div class=" items-center w-full">
            <h3 class="font-semibold text-lg">2.500 Assault Rifles</h3>
            <div class=" bg-green-500 rounded-full h-5" style="width: 80%;">
                <p class="text-xs text-white text-center">16:20</p>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 w-full">
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>


<div class="m-2 p-2 rounded-lg space-y-4  bg-gradient-to-r from-transparent to-black">

    <img src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png" alt="BannerImage"
         class="   h-1/3 w-1/3"/>

    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>
    </form>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">2.500 Assault Rifles</h3>

        <div class="flex  items-center gap-2">

            <p class="font">50.000</p>

            <svg xmlns="http://www.w3.org/2000/svg" class="text-green-400 w-5 h-5" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">

        <div class="w-1/2 bg-gray-700 rounded-full items-center  h-5">
            <div class="h-full bg-green-500 rounded-full" style="width: 80%;">
                <p class="text-xs text-white text-center">16:20</p>
            </div>
        </div>

        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>


<div class="m-2 p-2 rounded-lg space-y-2  bg-gradient-to-br from-green-800 via-gray-900 to-black">

    <img src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png" alt="BannerImage"
         class="   h-1/3 w-1/3"/>

    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>
    </form>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">2.500 Assault Rifles</h3>

        <div class="flex  items-center gap-2">

            <p class="font">50.000</p>

            <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">


        <p class="text-sm">16:20</p>


        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>


<div class="m-2 p-2 rounded-lg space-y-2  bg-gradient-to-br from-green-800 via-gray-900 to-black">

    <div class="flex items-center justify-between    h-1/3">
        <img src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png"
             alt="BannerImage"
             class="h-full w-1/3"/>

        <div class="flex flex-col gap-4 justify-end">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-glass">✕</button>
            </form>

            <div class="grid grid-cols-2 items-center gap-2">
                <div class="flex flex-row items-center gap-1">
                    <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                    <h4 class="font-semibold text-md text-red-400">20</h4>
                </div>
                <div class="flex flex-row items-center gap-1">
                    <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                    <h4 class="font-semibold text-md text-red-400">20</h4>
                </div>
                <div class="flex flex-row items-center gap-1">
                    <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                    <h4 class="font-semibold text-md text-red-400">20</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">2.500 Assault Rifles</h3>

        <div class="flex items-center align-middle gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="currentColor"
                 stroke="none"
            >
                <path d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z"/>
            </svg>

            <p>16:20</p>
        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">

        <div class="flex  items-center gap-1">


            <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="currentColor"
                 stroke="none"
            >
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

            <p class="font">50.000</p>

        </div>


        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>


<div class="m-2 p-2 rounded-lg space-y-2  bg-gradient-to-br from-red-800 via-gray-900 to-black">

    <img src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png" alt="BannerImage"
         class="   h-1/3 w-1/3"/>

    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>
    </form>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">2.500 Assault Rifles</h3>

        <div class="flex  items-center gap-2">

            <p class="font">50.000</p>

            <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">


        <p class="text-sm">16:20</p>


        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>


<div class="m-2 p-2 rounded-lg space-y-2  bg-gradient-to-br from-green-800 via-gray-900 to-black"
     onclick="my_modal_2.showModal()">

    <img src="/dist/tank.png" alt="BannerImage"
         class="   h-1/3 w-1/3"/>


    <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>


    <dialog id="my_modal_2" class="modal">
        <div class="modal-box space-y-2">
            <h3 class="font-bold text-lg">Main Battle Tank</h3>


            <div class="grid grid-cols-2">
                <div class="flex items-center space-x-1 justify-start">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5"
                    >
                        <path d="m8 2 1.88 1.88"></path>
                        <path d="M14.12 3.88 16 2"></path>
                        <path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"></path>
                        <path d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"></path>
                        <path d="M12 20v-9"></path>
                        <path d="M6.53 9C4.6 8.8 3 7.1 3 5"></path>
                        <path d="M6 13H2"></path>
                        <path d="M3 21c0-2.1 1.7-3.9 3.8-4"></path>
                        <path d="M20.97 5c0 2.1-1.6 3.8-3.5 4"></path>
                        <path d="M22 13h-4"></path>
                        <path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"></path>
                    </svg>
                    <span class="font-medium">Damage</span>
                </div>
                <div class="flex items-center justify-end">
                    <span class="font-bold">16</span>
                </div>
            </div>
            <hr class="my-2"/>
            <div class="grid grid-cols-2">
                <div class="flex items-center space-x-1 justify-start">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5"
                    >
                        <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                    </svg>
                    <span class="font-medium">Health</span>
                </div>
                <div class="flex items-center justify-end">
                    <span class="font-bold">20</span>
                </div>
            </div>
            <hr class="my-2"/>
            <div class="grid grid-cols-2">
                <div class="flex items-center space-x-1 justify-start">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5"
                    >
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
                    </svg>
                    <span class="font-medium">Armor</span>
                </div>
                <div class="flex items-center justify-end">
                    <span class="font-bold">10</span>
                </div>
            </div>

        </div>


        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">12 Main Battle Tank</h3>

        <div class="flex  items-center gap-2">

            <p class="font">50.000</p>

            <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">


        <p class="text-sm">16:20</p>


        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>

<div class="m-2 p-2 rounded-lg space-y-2  bg-gradient-to-br from-yellow-800 via-gray-900 to-black">

    <img src="/dist/boxer.webp" alt="BannerImage"
         class="   h-1/3 w-1/3"/>

    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>
    </form>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">60 APC-W</h3>

        <div class="flex  items-center gap-2">

            <p class="font">50.000</p>

            <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">


        <p class="text-sm">16:20</p>


        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>

<div class="m-2 p-2 rounded-lg space-y-2  bg-gradient-to-br from-yellow-800 via-gray-900 to-black"
     onclick="my_modal_3.showModal()">


    <div class="flex w-full justify-between">

        <img src="/dist/leo2.webp" alt="BannerImage"
             class="   h-1/3 w-1/3"/>

        <div class="flex flex-col h-full content-between justify-between">
            <button class="btn btn-sm btn-circle btn-ghost">✕</button>

            <p class="text-sm">16:20</p>
        </div>


    </div>


    <dialog id="my_modal_3" class="modal">
        <div class="modal-box space-y-2">
            <h3 class="font-bold text-lg">Main Battle Tank</h3>


            <div class="grid grid-cols-2">
                <div class="flex items-center space-x-1 justify-start">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5"
                    >
                        <path d="m8 2 1.88 1.88"></path>
                        <path d="M14.12 3.88 16 2"></path>
                        <path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"></path>
                        <path d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"></path>
                        <path d="M12 20v-9"></path>
                        <path d="M6.53 9C4.6 8.8 3 7.1 3 5"></path>
                        <path d="M6 13H2"></path>
                        <path d="M3 21c0-2.1 1.7-3.9 3.8-4"></path>
                        <path d="M20.97 5c0 2.1-1.6 3.8-3.5 4"></path>
                        <path d="M22 13h-4"></path>
                        <path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"></path>
                    </svg>
                    <span class="font-medium">Damage</span>
                </div>
                <div class="flex items-center justify-end">
                    <span class="font-bold">16</span>
                </div>
            </div>
            <hr class="my-2"/>
            <div class="grid grid-cols-2">
                <div class="flex items-center space-x-1 justify-start">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5"
                    >
                        <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                    </svg>
                    <span class="font-medium">Health</span>
                </div>
                <div class="flex items-center justify-end">
                    <span class="font-bold">20</span>
                </div>
            </div>
            <hr class="my-2"/>
            <div class="grid grid-cols-2 divide-y">
                <div class="flex items-center justify-between">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5"
                    >
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
                    </svg>
                    <span class="font-medium">Armor</span>
                </div>
                <div class="flex items-center justify-end">
                    <span class="font-bold">10</span>
                </div>

                <div class="flex items-center gap-1 justify-start">


                    <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor"
                         stroke-width="1"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
                    </svg>
                    In Storage
                </div>

                <span class="font-bold justify-end">50.000</span>
            </div>

        </div>


        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg ">12 // <span class="text-white">Leopard 2A6</span></h3>

        <div class="flex  items-center gap-2">


        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">
        <p class="text-sm font-semibold">MBT</p>

        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-1">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>


<div class="relative bg-red-800 transform transition ease-in-out shadow-xl  shadow-black/40 preserve-3d hover:my-rotate-y-180
   bg-gradient-to-br from-green-800 via-gray-900 to-black
   m-2 p-2 rounded-lg    duration-800">


    <div class="backface-hidden  ">


        <img src="/dist/gepard.webp" alt="BannerImage"
             class="   h-1/3 w-1/3"/>

        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>
        </form>

        <div class="flex items-center justify-between">

            <h3 class="font-semibold text-lg">4 VSHORAD</h3>

            <div class="flex  items-center gap-2">

                <p class="font">50.000</p>

                <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
                </svg>

            </div>
        </div>
        <div class="flex  justify-between items-center gap-4 w-full">


            <p class="text-sm">16:20</p>


            <div class="flex flex-row items-center gap-4">
                <div class="flex flex-row items-center gap-1">
                    <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                    <h4 class="font-semibold text-md text-red-400">20</h4>
                </div>
                <div class="flex flex-row items-center gap-1">
                    <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                    <h4 class="font-semibold text-md text-red-400">20</h4>
                </div>
                <div class="flex flex-row items-center gap-1">
                    <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                    <h4 class="font-semibold text-md text-red-400">20</h4>
                </div>
            </div>

        </div>


    </div>


    <div class="absolute inset-0 h-full w-full  my-rotate-y-180 backface-hidden ">


        <h3 class="font-bold text-lg">Main Battle Tank</h3>


        <div class="grid grid-cols-2">
            <div class="flex items-center space-x-1 justify-start">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="w-5 h-5"
                >
                    <path d="m8 2 1.88 1.88"></path>
                    <path d="M14.12 3.88 16 2"></path>
                    <path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"></path>
                    <path d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"></path>
                    <path d="M12 20v-9"></path>
                    <path d="M6.53 9C4.6 8.8 3 7.1 3 5"></path>
                    <path d="M6 13H2"></path>
                    <path d="M3 21c0-2.1 1.7-3.9 3.8-4"></path>
                    <path d="M20.97 5c0 2.1-1.6 3.8-3.5 4"></path>
                    <path d="M22 13h-4"></path>
                    <path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"></path>
                </svg>
                <span class="font-medium">Damage</span>
            </div>
            <div class="flex items-center justify-end">
                <span class="font-bold">16</span>
            </div>
        </div>
        <hr class="my-2"/>
        <div class="grid grid-cols-2">
            <div class="flex items-center space-x-1 justify-start">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="w-5 h-5"
                >
                    <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                </svg>
                <span class="font-medium">Health</span>
            </div>
            <div class="flex items-center justify-end">
                <span class="font-bold">20</span>
            </div>
        </div>
        <hr class="my-2"/>
        <div class="grid grid-cols-2 divide-y">
            <div class="flex items-center justify-between">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="w-5 h-5"
                >
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
                </svg>
                <span class="font-medium">Armor</span>
            </div>
            <div class="flex items-center justify-end">
                <span class="font-bold">10</span>
            </div>

            <div class="flex items-center gap-1 justify-start">


                <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor"
                     stroke-width="1"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
                </svg>
                In Storage
            </div>

            <span class="font-bold justify-end">50.000</span>
        </div>


    </div>
</div>


<div class="m-2 p-2 rounded-lg space-y-4  bg-gradient-to-r from-transparent to-black">

    <img src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png" alt="BannerImage"
         class="   h-1/3 w-1/3"/>

    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0">✕</button>
    </form>

    <div class="flex items-center justify-between">

        <h3 class="font-semibold text-lg">2.500 Assault Rifles</h3>

        <div class="flex  items-center gap-2">

            <p class="font">50.000</p>

            <svg xmlns="http://www.w3.org/2000/svg" class="text-green-400 w-5 h-5" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M6 19H8V21H6V19M12 3L2 8V21H4V13H20V21H22V8L12 3M8 11H4V9H8V11M14 11H10V9H14V11M20 11H16V9H20V11M6 15H8V17H6V15M10 15H12V17H10V15M10 19H12V21H10V19M14 19H16V21H14V19Z"/>
            </svg>

        </div>
    </div>
    <div class="flex  justify-between items-center gap-4 w-full">

        <div class="w-1/2 bg-gray-700 rounded-full items-center  h-5">
            <div class="h-full bg-green-500 rounded-full" style="width: 80%;">
                <p class="text-xs text-white text-center">16:20</p>
            </div>
        </div>

        <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
            <div class="flex flex-row items-center gap-2">
                <img src="/dist/steel.png" alt="steel icon" class="w-5 h-5 ">
                <h4 class="font-semibold text-md text-red-400">20</h4>
            </div>
        </div>

    </div>

</div>

<div class="m-2 p-4 rounded-lg  space-y-2">

    <h3 class="text-lg">Add Production</h3>
    <p class="text-sm">1 slot free</p>
</div>
{% endblock %}