{% extends "layout.html" %}
{% block title %}User Profile{% endblock %}
{% block main %}




<!-- todo: show how many resources are currently lost/earned -->
<header class="sticky top-0 bg-base-100">

<div class="rounded-lg border bg-card text-card-foreground shadow-sm shadow-violet-500 sm:grid sm:grid-cols-3 sm:gap-4 md:gap-6 mx-4 md:mx-6" >

    <div class="py-4 flex items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-red-400 w-8 h-8 mr-4"
        >
            <path d="M18 12.5V10a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path>
            <path d="M14 11V9a2 2 0 1 0-4 0v2"></path>
            <path d="M10 10.5V5a2 2 0 1 0-4 0v9"></path>
            <path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"></path>
        </svg>
        <h4 class="font-semibold text-lg md:text-xl text-red-400">- 1200 kg</h4>
    </div>
    <div class="py-4 flex items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-red-400 w-8 h-8 mr-4"
        >
            <path d="M4 9a2 2 0 0 1-2-2V5h6v2a2 2 0 0 1-2 2Z"></path>
            <path d="M3 5V3"></path>
            <path d="M7 5V3"></path>
            <path d="M19 15V6.5a3.5 3.5 0 0 0-7 0v11a3.5 3.5 0 0 1-7 0V9"></path>
            <path d="M17 21v-2"></path>
            <path d="M21 21v-2"></path>
            <path d="M22 19h-6v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2Z"></path>
        </svg>
        <h4 class="font-semibold text-lg md:text-xl text-red-400">- 800 kg</h4>
    </div>
    <div class="py-4 flex items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-red-400 w-8 h-8 mr-4"
        >
            <rect width="18" height="18" x="3" y="3" rx="2"></rect>
            <path d="M11 9h4a2 2 0 0 0 2-2V3"></path>
            <circle cx="9" cy="9" r="2"></circle>
            <path d="M7 21v-4a2 2 0 0 1 2-2h4"></path>
            <circle cx="15" cy="15" r="2"></circle>
        </svg>
        <h4 class="font-semibold text-lg md:text-xl text-red-400">- 3 Tons</h4>
    </div>
    <div class="py-4 flex items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-green-400 w-8 h-8 mr-4"
        >
            <path d="M12 20.94c1.5 0 2.75 1.06 4 1.06 3 0 6-8 6-12.22A4.91 4.91 0 0 0 17 5c-2.22 0-4 1.44-5 2-1-.56-2.78-2-5-2a4.9 4.9 0 0 0-5 4.78C2 14 5 22 8 22c1.25 0 2.5-1.06 4-1.06Z"></path>
            <path d="M10 2c1 .5 2 2 2 5"></path>
        </svg>
        <h4 class="font-semibold text-lg md:text-xl text-green-400">+ 1800 kg</h4>
    </div>
    <div class="py-4 flex items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-green-400 w-8 h-8 mr-4"
        >
            <path d="M18 12.5V10a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path>
            <path d="M14 11V9a2 2 0 1 0-4 0v2"></path>
            <path d="M10 10.5V5a2 2 0 1 0-4 0v9"></path>
            <path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"></path>
        </svg>
        <h4 class="font-semibold text-lg md:text-xl text-green-400">+ 1200 kg</h4>
    </div>
    <div class="py-4 flex items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-green-400 w-8 h-8 mr-4"
        >
            <path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.9-.7-1.7-1.5-1.9C18.7 10.6 16 10 16 10s-1.3-1.4-2.2-2.3c-.5-.4-1.1-.7-1.8-.7H5c-.6 0-1.1.4-1.4.9l-1.4 2.9A3.7 3.7 0 0 0 2 12v4c0 .6.4 1 1 1h2"></path>
            <circle cx="7" cy="17" r="2"></circle>
            <path d="M9 17h6"></path>
            <circle cx="17" cy="17" r="2"></circle>
        </svg>
    </div>

</div>
    </header>

<div class="p-6 card ">

<img
        src="https://www.pngkit.com/png/full/128-1283150_bullet-transparent-m16-assault-rifle.png"
        alt="item image"
        height="100"
        width="100"
        class=" relativeopacity-100 mb-3 z-0 translate-x-2"
        style="aspect-ratio: 100 / 100; object-fit: cover;"
>


<div class=" z-10 flex items-center justify-between">
    <h3 class="font-medium">Assault Rifle</h3>
    20.000 WarehouseIcon
</div>

<div class="w-full bg-gray-700 rounded-full relative h-4 mb-3">
    <div class="h-full bg-green-500 rounded-full" style="width: 80%;">
        <p class="text-xs text-white text-center">16 mins</p>
    </div>
</div>


<div class="flex justify-between hover:bg-gray-100 p-2 rounded-md">


    <div class="flex flex-col space-y-2 mt-2">
        <div class="flex items-center space-x-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-4 w-4"
            >
                <path d="M18 12.5V10a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path>
                <path d="M14 11V9a2 2 0 1 0-4 0v2"></path>
                <path d="M10 10.5V5a2 2 0 1 0-4 0v9"></path>
                <path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"></path>
            </svg>
            <p>10</p>
        </div>
        <div class="flex items-center space-x-2">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-4 w-4"
            >
                <path d="M10 10v.2A3 3 0 0 1 8.9 16v0H5v0h0a3 3 0 0 1-1-5.8V10a3 3 0 0 1 6 0Z"></path>
                <path d="M7 16v6"></path>
                <path d="M13 19v3"></path>
                <path d="M12 19h8.3a1 1 0 0 0 .7-1.7L18 14h.3a1 1 0 0 0 .7-1.7L16 9h.2a1 1 0 0 0 .8-1.7L13 3l-1.4 1.5"></path>
            </svg>
            <p>5</p>
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <button class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3">
            -
        </button>
        <p>2</p>
        <button class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3">
            +
        </button>
    </div>

</div>

    </img>

</div>

</div>


{% endblock %}