{% extends "layout.html" %}
{% block title %}Create Newspaper{% endblock %}
{% block main %}

<div class="my-12 px-4 space-y-8">
    <form class="form-control w-full space-y-4" hx-ext="debug" hx-post="/newspaper/create" id="publish_article">

        <h2 class="text-2xl font-bold mx-2">Create Newspaper</h2>


        <select class="select select-bordered w-full max-w-sm">
            <option value="dark">Category or language??</option>
            <option value="light">Light</option>
            <option value="cupcake">Pink</option>
            <option value="retro">Retro</option>

        </select>


        <label>Newspaper name
            <input class="input input-bordered w-full max-w-sm" name="newspaper_name" placeholder="Newspaper name"
                   required
                   type="text"/>
        </label>

        <label>Newspaper avatar url
            <input class="input input-bordered w-full max-w-sm" name="newspaper_avatar" placeholder="Avatar Url"
                   required
                   type="text"/>
        </label>

        <button class="btn btn-primary" hx-ext="debug">Create newspaper</button>
    </form>


</div>

{% endblock %}