{% extends "layout.html" %}
{% block title %}Create Newspaper{% endblock %}
{% block main %}

<div class="my-12 px-4 space-y-8">
    <form class="form-control w-full space-y-4" hx-ext="debug" hx-put="/n/settings" id="publish_article">

        <h2 class="text-2xl font-bold mx-2">Appearance</h2>


        <select class="select select-bordered w-full max-w-sm">
            <option value="dark">Default</option>
            <option value="light">Light</option>
            <option value="cupcake">Pink</option>
            <option value="retro">Retro</option>

        </select>


        <input class="input input-bordered w-full max-w-sm" name="newspaper_name" placeholder="newspapername"
               required type="text" value="{{newspaper_name}}"/>

        <input class="input input-bordered w-full max-w-sm" name="newspaper_avatar" placeholder="Avatar Url" required
               type="text" value="{{newspaper_avatar}}"/>

        <input class="input input-bordered w-full max-w-sm" name="newspaper_background" placeholder="Background Url"
               type="text" value="{{newspaper_background}}"/>

        <button class="btn btn-primary" hx-ext="debug">Save changes</button>
        </section>


</div>

{% endblock %}