{% extends "base.html" %}
{% block title %}Create Article{% endblock %}
<script defer src="//unpkg.com/alpinejs"></script>

{% block page %}


<header class="sticky top-0 bg-base-100">


    <div class="flex space-x-2 p-2">
        <button class="btn " onclick="my_modal_2.showModal()">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M5 19V5H12V12H19V13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.1 3.89 21 5 21H13.35C13.13 20.37 13 19.7 13 19H5M14 4.5L19.5 10H14V4.5M22.5 17.25L17.75 22L15 19L16.16 17.84L17.75 19.43L21.34 15.84L22.5 17.25Z"/>
            </svg>
        </button>

        <button class="btn btn-circle" onclick="history.back()">
            <img class="h-6 w-6"  src="/dist/window-close.svg" alt="">
                           
        </button>
    </div>

</header>

<body>

<main class="m-2">


        <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
            <label for="editor2" class="sr-only">Publish post</label>
            <textarea id="editor2" rows="8"
                      class="block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                      placeholder="Write an article..." required form="publish_article"
                      name="article_content"></textarea>
        </div>


    <div id="editor">
        <h2>Demo Content</h2>
        <p>Preset build with <code>snow</code> theme, and some common formats.</p>
    </div>

    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>


    <dialog class="modal" id="my_modal_2">
        <div class="modal-box">


            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">Publish article?</h3>

            <!--  hx-trigger="click[ctrlKey]"-->

            <form class="form-control w-full max-w-sm space-y-4" hx-ext="debug" hx-post="/article/create"

                  id="publish_article">


                <div>

                    <label>
                        Article Title
                        <input class="input input-bordered w-full max-w-sm" name="article_title"
                               placeholder="Enter the title..." required type="text"/>
                    </label>
                </div>


                {% if newspapers.len() != 0 %}
                <select class="select select-bordered w-full max-w-sm" name="publisher">
                    <option value="None">Yourself</option>
                    {% for newspaper in newspapers %}
                    <option value="{{newspaper.newspaper_id}}">{{newspaper.newspaper_name}}</option>

                    {% endfor %}
                </select>
                {% endif %}


                <button class="btn btn-primary" hx-ext="debug">Publish article</button>
            </form>
        </div>


    </dialog>
</main>
</body>
{% endblock %}