{% extends "layout.html" %}
{% block title %}Article {{article_title}}{% endblock %}
{% block body %}


<header class="sticky flex  bg-base-100 top-0 p-2 justify-center w-full items-center">




    <h2 class="font-semibold text-xl overflow-ellipsis" id="article_title">{{article_title}}</h2>
</header>
{% endblock %}

{% block main %}


<div class="transition-opacity ease-in fade_in duration-500  ">
    <iframe class="w-full  " id="article_view" allowtransparency="true"></iframe>
    <!--TODO change url to be own, not relative-->


    <script>
        const clean = DOMPurify.sanitize("{{article_content}}", { SAFE_FOR_TEMPLATES: true });
        document.getElementById("article_view").setAttribute("srcdoc", "<link rel='stylesheet' type='text/css' href='/styles.css'><div class='bg-base-100'>" + clean + "</div>");
        var currentIFrame = 1;


    </script>

    <section class=" m-2 p-2 mt-10 space-y-2  rounded-lg border select-bordered">


        <a href="{{author_link}}" role="button" class="flex flex-row w-full flinch gap-2 label-text">
            <img src="{{author_avatar}}" class="rounded-lg bg-cover" width="50" height="50" />
            <div>
                <b class="text-lg block" id="author_name">{{author_name}}</b>
                <span class=" text-primary">Published</span><span> {{publish_date}}</span>
            </div>
        </a>
    </section>
</div>



{% if author_id == user_id %}
<a href="/a/{{article_id}}/edit" role="button" class=" btn btn-square btn-primary" type="button">

    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
        <path
            d="M18.13 12L19.39 10.74C19.83 10.3 20.39 10.06 21 10V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.1 3.89 21 5 21H11V19.13L11.13 19H5V5H12V12H18.13M14 4.5L19.5 10H14V4.5M19.13 13.83L21.17 15.87L15.04 22H13V19.96L19.13 13.83M22.85 14.19L21.87 15.17L19.83 13.13L20.81 12.15C21 11.95 21.33 11.95 21.53 12.15L22.85 13.47C23.05 13.67 23.05 14 22.85 14.19Z" />
    </svg>
</a>
{% elif has_upvoted %}
{% include "article/remove_upvote.html" %}
{% else %}
{% include "article/upvote.html" %}
{% endif %}


<button class="share-button btn btn-square btn-primary" type="button" title="Share this article">

    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
        <path
            d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" />
    </svg>
    </svg>
</button>
<script>
    const shareButton = document.querySelector('.share-button');
    shareButton.addEventListener('click', event => {
        if (navigator.share) {
            navigator.share({
                title: '{{article_title}}',
                url: window.location.href

            }).then(() => {
                console.log('Thanks for sharing!');
            })
                .catch(console.error);
        } else {
            // fallback
        }
    });

</script>

</section>












{% endblock %}